@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
    text-decoration: none;
  }
  

i{
    width:10px;
    height: 10px;
    color: #fff;
}

nav{
    display: flex;
    flex-direction: row-reverse;
}

.nav__link{
    padding-left: 10px;
}